html {
  font-size: 12px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */

  background-color: white;
}


 
/* nav bar */

nav {
  display: flex;
  align-items: center;
  top:0;
  left:0;
  width: 100%;
  background: blue;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  height: 8rem;
  margin: 0 0 5px 0;
  font-size:2rem;
}

.menu-button {
  margin: 0 1em;
  text-align: center;
  text-decoration: none;
  color: white;
}


.RetrobaseLogo {
  font-family: 'Nunito', sans-serif;
  font-size:30px;
}
/*base*/

section {
  margin: 0 10%;
  width: 800px;
  border: solid black 1px;
  background-color: #fafdff;
}

/* general */

h1 {
  font-size: 3.2rem;
  padding: 2rem 0 0.3rem 1rem;
  border-bottom: solid blue 3px;
}

h2 {
  font-size: 2rem;
  padding: 2rem 0 0.5rem 1.6rem;
  border-bottom: dashed blue 1px;  
  margin-bottom: 0.8rem;
}

.text-section {
  padding-bottom: 15px;
}

.smallertext h1  {
  font-size:1.5rem; 
}



.box {
  padding: 10px 30px;
}

.wrapped {
  overflow-wrap: break-word;
}

.nokern {
  font-family: monospace;
  font-kerning: none;
  letter-spacing: 2px;
}


.gridlist {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}


/*tables*/

/* table general */

th, td {
    padding: 10px 15px;
}

/*query table */

.querytable {
    font-size: 1rem;
    border-collapse: collapse;
    width: 100%;
    border-top: solid black 1px;;
    border-bottom: solid black 1px;;
}



.querytable th, .querytable td {
  border-left: solid black 1px;
  border-right: solid black 1px;
}

.querytable tr:nth-child(odd) {
  background-color: #e3edfc;
}

.infotable {
  text-align: left;
}

.proteinseqtable {
  font-size: 1rem;
}

/* links */
a:visited.querytable  {
  color: blue;
  text-decoration: none
}

.errorlist {
  
  color: red;
}