{% load static %}
<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Update tip taken from https://stackoverflow.com/questions/52682812/django-css-not-updating -->
	<link rel="stylesheet" href="/static/query/style2.css?{% now "U" %}"/> 
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap" rel="stylesheet">

    {% if title %}
    	<title> Blog: {{title}} </title>
    {%else%}
    	<title> Blog </title>
    {%endif%}

    
</head>
<body>

<nav>
    <a class="menu-button RetrobaseLogo" href="{% url 'query-home' %}" class="menu-button"> Retrobase</a>
    <a href="{% url 'query-query' %}" class="menu-button"> Query</a>
    <a href="#" class="menu-button"> Evolutionary Trees</a>
    <a href="{% url 'expressionatlas-home' %}" class="menu-button">Tissue Expression Atlas</a>
        
    <form class="menu-button" type="POST" method="POST" action='{% url "query-MainSearchBarResults" %}'>
        {% csrf_token %}
        <input  id="search_input" type="text" method="POST" name="search_input" placeholder="Protein, Class or Family..." >
        <button id="search_submit" type="submit" >Search</button>
    </form>
</nav>

<section>
	<div class="box">
		{% block content %}{% endblock %}	    	
	</div>
</section>
</body>


<script src="{% static 'query/script.js' %}"></script>


</html>