{%extends "query/base.html" %}
{% block content %}
		<h1>DNA Repeat Record: {{ object.id }}</h1>
		<table class= "infotable">
			<tr>
				<th scope="row">Retrotransposon Family: </th>
				<td>{{ object.family.superfamily.name}}</td>
			</tr>
				<th scope="row">Family:</th>
				<td>{{object.family.name}}</td>
			</tr>
			</tr>
				<th scope="row">Proteins Sequences Predicted:</th>
				<td>{% for protname, dic in object.GetProteinNamesIDs.items %}
			   			<a href="{% url 'query-proteinnameinfo' dic.protnameid %}">{{protname}}</a> (
			   			{% for psid in dic.protseqid %}
				   			<a href="{% url 'query-proteinseqinfo' psid %}">{{psid}}</a>{{ forloop.last|yesno:",&#44;"|safe }} 
				   		{% endfor %}
				   		){{forloop.last|yesno:",&#44;"|safe }}
				   		{% empty %}
				   			No proteins identified
			   		{%endfor%}</td>
			</tr>
		</table>
		<h2>DNA sequence</h2>
		<p class="wrapped nokern">{{ object.dnaseq.seq }}</p>


{% endblock content %}