{%extends "query/base.html" %}
{% block content %}
		<h1>DNA Repeat Record: {{ object.id }}</h1>
		<table class= "infotable">
			<tr>
				<th scope="row">Retrotransposon Family: </th>
				<td>{{ object.family.superfamily.name}}</td>
			</tr>
				<th scope="row">Subfamily:</th>
				<td>{{object.family.name}}</td>
			</tr>
			</tr>
				<th scope="row">Proteins Seqs Predicted:</th>
				<td>{{object.GetProteinNames}}</td>
			</tr>
		</table>
		<h2>DNA sequence</h2>
		<p class="wrapped nokern">{{ object.dnaseq.seq }}</p>

		<h2>Predicted Protein Sequences:</h2>
		{% for protein in object.proteinseq.all %}
			<table class= "infotable proteinseqtable">
				<tr>
					<th scope="row">Protein ID: </th>
					<td>{{protein.id}}</td>
				</tr>
				<tr>
					<th scope="row">Protein Name: </th>
					<td>{{protein.proteinname.name}}</td>
				</tr>
			</table>
			<p class= "wrapped nokern">{{protein.seq}}</p>
		{% endfor %}
{% endblock content %}