{%extends "query/base.html" %}
{% block content %}

	<h1> {{object.name}}</h1>
	<p>This family is characterised by bla bla bla bla bal baThis family is characterised by bla bla bla bla bal baThis family is characterised by bla bla bla bla bal baThis family is characterised by bla bla bla bla bal baThis family is characterised by bla bla bla bla bal baThis family is characterised by bla bla bla bla bal baThis family is characterised by bla bla bla bla bal baThis family is characterised by bla bla bla bla bal baThis family is characterised by bla bla bla bla bal baThis family is characterised by bla bla bla bla bal ba </p>
	<p>This family is characterised by bla bla bla bla bal baThis family is characterised by bla bla bla bla bal baThis family is characterised by bla bla bla bla bal baThis family is characterised by bla bla bla bla bal baThis family is characterised by bla bla bla bla bal baThis family is characterised by bla bla bla bla bal baThis family is characterised by bla bla bla bla bal baThis family is characterised by bla bla bla bla bal baThis family is characterised by bla bla bla bla bal baThis family is characterised by bla bla bla bla bal ba </p>

{% endblock content %}