{%extends "query/base.html" %}
{% block content %}
	<h1> {{object.name}}</h1>
	<p>This protein is characterised by bla bla bla bla bla. This protein is characterised by bla bla bla bla bla. This protein is characterised by bla bla bla bla bla. </p>
	<p>This protein is characterised by bla bla bla bla bla. This protein is characterised by bla bla bla bla bla. This protein is characterised by bla bla bla bla bla. This protein is characterised by bla bla bla bla bla. This protein is characterised by bla bla bla bla bla. This protein is characterised by bla bla bla bla bla. This protein is characterised by bla bla bla bla bla. This protein is characterised by bla bla bla bla bla. This protein is characterised by bla bla bla bla bla. </p>
{% endblock content %}