{%extends "query/base.html" %}
{% block content %}
	<h1>Protein Record #{{ object.id }}</h1>
	<table class= "infotable">
		<tr>
			<th scope="row">Proteins Predicted:</th>
			<td>{{object.proteinname.name}}</td>
		</tr>			
		<tr>
			<th scope="row">Retrotransposon Family: </th>
			<td>{{ object.dnarecord.family.superfamily.name}}</td>
		</tr>
		<tr>
			<th scope="row">Subfamily:</th>
			<td>{{object.dnarecord.family.name}}</td>
		</tr>
	</table>
	<h2> Function </h2>
	<p>The function of this protein is to partyyyy... The function of this protein is to partyyyy... The function of this protein is to partyyyy... The function of this protein is to partyyyy... The function of this protein is to partyyyy... The function of this protein is to partyyyy... The function of this protein is to partyyyy... The function of this protein is to partyyyy... The function of this protein is to partyyyy... The function of this protein is to partyyyy... The function of this protein is to partyyyy... The function of this protein is to partyyyy... The function of this protein is to partyyyy... The function of this protein is to partyyyy... The function of this protein is to partyyyy... The function of this protein is to partyyyy... The function of this protein is to partyyyy... The function of this protein is to partyyyy... The function of this protein is to partyyyy... The function of this protein is to partyyyy... </p>

	<h2>Sequence</h2>
	<p class="wrapped nokern">{{object.seq}}</p>
{% endblock content %}