{%extends "query/base.html" %}
{% block content %}

	<h1> Retrotransposon Family: {{object.name}}</h1>

	<h2>Description</h2>
	<p>This family is characterised by bla bla bla bla bal baThis family is characterised by bla bla bla bla bal baThis family is characterised by bla bla bla bla bal baThis family is characterised by bla bla bla bla bal baThis family is characterised by bla bla bla bla bal baThis family is characterised by bla bla bla bla bal baThis family is characterised by bla bla bla bla bal baThis family is characterised by bla bla bla bla bal baThis family is characterised by bla bla bla bla bal baThis family is characterised by bla bla bla bla bal ba </p>
	<p>This family is characterised by bla bla bla bla bal baThis family is characterised by bla bla bla bla bal baThis family is characterised by bla bla bla bla bal baThis family is characterised by bla bla bla bla bal baThis family is characterised by bla bla bla bla bal baThis family is characterised by bla bla bla bla bal baThis family is characterised by bla bla bla bla bal baThis family is characterised by bla bla bla bla bal baThis family is characterised by bla bla bla bla bal baThis family is characterised by bla bla bla bla bal ba </p>

	<h2>Proteins Encoded By This Family:</h2>
	<ul>
	{% for pname in object.proteinname_set.all %}
	<li> <a href="{% url 'query-proteinnameinfo' pname.id %}"> {{pname.name}} </a> </li>
	{% endfor %}
	</ul>

	<h2>Subfamilies</h2>
	<ul class="gridlist">
		{% for fam in families %}
		<li>{{ fam.name }}</li>
		{% endfor%}
	</ul>


{% endblock content %}